@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using KAR_Robotics
@inject IStringLocalizer<SharedResource> Localizer
    <!-- Services Section -->
<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>@Localizer["ServicesH2"]</h2>
        <p>@Localizer["ServicesP"]</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-question" style="color:white"></i>
                    </div>
                    <a class="stretched-link">
                        <h3>@Localizer["ServicesH3Who"]</h3>
                    </a>
                    <p>@Localizer["ServicesPWho"]</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-broadcast" style="color:white"></i>
                    </div>
                    <a class="stretched-link">
                        <h3>@Localizer["ServicesH3Mission"]</h3>
                    </a>
                    <p>@Localizer["ServicesPMission"]</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-easel" style="color:white"></i>
                    </div>
                    <a class="stretched-link">
                        <h3>@Localizer["ServicesH3Vision"]</h3>
                    </a>
                    <p>@Localizer["ServicesPVision"]</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-bounding-box-circles" style="color:white"></i>
                    </div>
                    <a class="stretched-link">
                        <h3>@Localizer["ServicesH3Team"]</h3>
                    </a>
                    <p>@Localizer["ServicesPTeam"]</p>
                    <a class="stretched-link"></a>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-calendar4-week" style="color:white"></i>
                    </div>
                    <a class="stretched-link">
                        <h3>@Localizer["ServicesH3Pro"]</h3>
                    </a>
                    <p>@Localizer["ServicesPPro"]</p>
                    <a class="stretched-link"></a>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-chat-square-text" style="color:white"></i>
                    </div>
                    <a class="stretched-link">
                        <h3>@Localizer["ServicesH3Last"]</h3>
                    </a>
                    <p>@Localizer["ServicesPLast"]</p>
                    <a class="stretched-link"></a>
                </div>
            </div><!-- End Service Item -->

        </div>

    </div>

</section><!-- /Services Section -->